*, *:before, *:after {
    -moz-box-sizing: border-box;
}

body {
  color: #333;
  background-color: #fff;
}
/*
.col-lg-6 p {
  margin: 0px 0px 0px !important;
}*/

.marketing {
  margin: 0 0;
}

.form-horizontal .control-label {
  padding-top: 3px !important;
}

.jumbotron label {
  font-size: 15px;
  font-weight: normal;
}