*, *:before, *:after {
    -moz-box-sizing: border-box;
}

body {
  color: #333;
  background-color: #fff;
}

.container-max-width {
  max-width: 100%;
}

.marketing {
  margin: 0 0;
}

.form-horizontal .control-label {
  padding-top: 3px !important;
}

.jumbotron label {
  font-size: 15px;
  font-weight: normal;
}

h2#logo, h2#logo span {
  cursor: pointer;
}

.container .jumbotron {
  padding-right: 30px !important!;
  padding-left: 30px !important!;
}

.jumbotron .popover {
  font-size: 14px;
}