<title>Test system</title>
<link rel="stylesheet" type="text/css" href="css/signin.css" />
<div class="jumbotron">
  <form class="form-signin">
    <h2 class="form-signin-heading" l10n-text="login.auth"></h2>
    <input class="form-control" type="text" ng-model="login" l10n-placeholder="login.signin" required autofocus />
    <input class="form-control" type="password" ng-model="password" l10n-placeholder="login.pass" required />
    <!--<label class="checkbox">
      <input value="remember-me" type="checkbox"> Remember me
    </label>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>-->
    <a href="#/register" class="btn btn-lg btn-info" l10n-text="login.register"></a>
    <button class="btn btn-lg btn-success" type="submit" ng-click="signIn()" l10n-text="login.btn-login"></button>
  </form>
</div>
<div class="row marketing">
  <div class="col-lg-6">
    <h4 l10n-text="login.sub1"></h4>
    <p l10n-text="login.text1"></p>
    <h4 l10n-text="login.sub5"></h4>
    <p l10n-text="login.text5"></p>
    <h4 l10n-text="login.sub3"></h4>
    <p l10n-text="login.text3"></p>
  </div>
  <div class="col-lg-6">
    <h4 l10n-text="login.sub4"></h4>
    <p l10n-text="login.text4"></p>
    <h4 l10n-text="login.sub2"></h4>
    <p l10n-text="login.text2"></p>
    <h4 l10n-text="login.sub6"></h4>
    <p l10n-text="login.text6"></p>
  </div>
</div>