<title>Test system</title>
<link rel="stylesheet" type="text/css" href="css/signin.css" />
<div class="jumbotron">
  <form class="form-horizontal" role="form" action="#">
    <div class="form-group">
      <label for="input-login" class="col-sm-2 control-label" l10n-text="registration.signin"></label>
      <div class="col-sm-10">
        <input type="text" ng-model="login" class="form-control" id="input-login" l10n-placeholder="registration.signin-help" popover-placement="right" popover-title="" popover="" required autofocus />
      </div>
    </div>
    <div class="form-group">
      <label for="input-password" class="col-sm-2 control-label" l10n-text="registration.pass"></label>
      <div class="col-sm-10">
        <input type="password" ng-model="password" class="form-control" id="input-password" l10n-placeholder="registration.pass-help" required />
      </div>
    </div>
    <div class="form-group">
      <label for="input-confirm" class="col-sm-2 control-label" l10n-text="registration.pass-confirm"></label>
      <div class="col-sm-10">
        <input type="password" ng-model="confirm" class="form-control" id="input-confirm" l10n-placeholder="registration.pass-confirm-help" required />
      </div>
    </div>
    <div class="form-group">
      <label for="input-email" class="col-sm-2 control-label" l10n-text="registration.e-mail"></label>
      <div class="col-sm-10">
        <input type="email" ng-model="email" class="form-control" id="input-email" l10n-placeholder="registration.e-mail-help" required />
      </div>
    </div>
    <div class="form-group">
      <label for="input-name" class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        <input type="text" ng-model="name" class="form-control" id="input-name" placeholder="First name" required />
      </div>
    </div>
    <div class="form-group">
      <label for="input-surname" class="col-sm-2 control-label">Surname</label>
      <div class="col-sm-10">
        <input type="text" ng-model="surname" class="form-control" id="input-surname" placeholder="Second name" required />
      </div>
    </div>
    <div class="form-group">
      <label for="input-patronymic" class="col-sm-2 control-label">Patronymic</label>
      <div class="col-sm-10">
        <input type="text" ng-model="patronymic" class="form-control" id="input-patronymic" placeholder="Patronymic" required />
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-lg btn-info btn-block" ng-click="register()">Register</button>
      </div>
    </div>
  </form>
</div>
<div class="row marketing">
  <div class="col-lg-6">
    <h4>Subheading</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
    <h4>Subheading</h4>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
    <h4>Subheading</h4>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  </div>
  <div class="col-lg-6">
    <h4>Subheading</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
    <h4>Subheading</h4>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
    <h4>Subheading</h4>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  </div>
</div>