<title>Test system</title>
<link rel="stylesheet" type="text/css" href="css/signin.css" />
<div class="jumbotron">
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Login</label>
      <div class="col-sm-10">
        <input type="text" ng-model="login" class="form-control" id="inputEmail3" placeholder="Username must be 6 or more characters">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-10">
        <input type="password" ng-model="password" class="form-control" id="inputPassword3" placeholder="Password must be 6 or more characters">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Confirm</label>
      <div class="col-sm-10">
        <input type="password" ng-model="confirm" class="form-control" id="inputPassword3" placeholder="Retype password">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">E-mail</label>
      <div class="col-sm-10">
        <input type="email" ng-model="email" class="form-control" id="inputPassword3" placeholder="E-mail address">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        <input type="text" ng-model="name" class="form-control" id="inputEmail3" placeholder="First name">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Surname</label>
      <div class="col-sm-10">
        <input type="text" ng-model="surname" class="form-control" id="inputEmail3" placeholder="Second name">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Patronymic</label>
      <div class="col-sm-10">
        <input type="text" ng-model="patronymic" class="form-control" id="inputEmail3" placeholder="Patronymic">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="button" class="btn btn-lg btn-info btn-block">Register</button>
      </div>
    </div>
  </form>
</div>
<div class="row marketing">
  <div class="col-lg-6">
    <h4>Subheading</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
    <h4>Subheading</h4>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
    <h4>Subheading</h4>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  </div>
  <div class="col-lg-6">
    <h4>Subheading</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
    <h4>Subheading</h4>
    <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
    <h4>Subheading</h4>
    <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
  </div>
</div>