<title>Test system</title>
<link rel="stylesheet" type="text/css" href="css/signin.css" />
<div class="jumbotron">
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="input-login" class="col-sm-3 control-label" l10n-text="registration.signin"></label>
      <div class="col-sm-9">
        <input type="text" ng-model="login" class="form-control" id="input-login" l10n-placeholder="registration.signin-help" required autofocus />
      </div>
    </div>
    <div class="form-group">
      <label for="input-password" class="col-sm-3 control-label" l10n-text="registration.pass"></label>
      <div class="col-sm-9">
        <input type="password" ng-model="password" class="form-control" id="input-password" l10n-placeholder="registration.pass-help" required />
      </div>
    </div>
    <div class="form-group">
      <label for="input-confirm" class="col-sm-3 control-label" l10n-text="registration.pass-confirm"></label>
      <div class="col-sm-9">
        <input type="password" ng-model="confirm" class="form-control" id="input-confirm" l10n-placeholder="registration.pass-confirm-help" required />
      </div>
    </div>
    <div class="form-group">
      <label for="input-email" class="col-sm-3 control-label" l10n-text="registration.e-mail"></label>
      <div class="col-sm-9">
        <input type="email" ng-model="email" class="form-control" id="input-email" l10n-placeholder="registration.e-mail-help" required />
      </div>
    </div>
    <div class="form-group">
      <label for="input-name" class="col-sm-3 control-label" l10n-text="registration.name"></label>
      <div class="col-sm-9">
        <input type="text" ng-model="name" class="form-control" id="input-name" l10n-placeholder="registration.name-help" required />
      </div>
    </div>
    <div class="form-group">
      <label for="input-surname" class="col-sm-3 control-label" l10n-text="registration.surname"></label>
      <div class="col-sm-9">
        <input type="text" ng-model="surname" class="form-control" id="input-surname" l10n-placeholder="registration.surname-help" required />
      </div>
    </div>
    <div class="form-group">
      <label for="input-patronymic" class="col-sm-3 control-label" l10n-text="registration.patronymic"></label>
      <div class="col-sm-9">
        <input type="text" ng-model="patronymic" class="form-control" id="input-patronymic" l10n-placeholder="registration.patronymic-help" required />
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-lg btn-info btn-block" ng-click="register()" l10n-text="registration.register"></button>
      </div>
    </div>
  </form>
</div>

</div>