<h4>
  <ol class="breadcrumb"><i class="glyphicon glyphicon-check"></i>&nbsp;
    <li><a href="#/">Tests</a></li>
    <li><a href="#/category/{{category.id}}">{{category.title}}</a></li>
    <li class="active">{{subcategory.title}}</li>
  </ol>
</h4>
<hr>
<div ng-if="tests.length <= 0">Tests not found.</div>
<div ng-if="tests.length > 0" class="list-group">
  <a ng-repeat="test in tests" href="#/category/{{category.id}}/{{subcategory.id}}/test/{{test.id}}" class="list-group-item">
    <h4 class="list-group-item-heading">{{test.title}}</h4>
    <p class="list-group-item-text">{{test.description}}</p>
  </a>
</div>